.dark-background {
    background-color: #000;
    background-image: url("./images/background.jpg");
}

.light-background {
    background-color: #fff;
}

.gray-background {
    background-color: #eee;
}

.white-background {
    background-color: #fff;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-left-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-top-15 {
    padding-top: 15px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-left-0 {
    margin-left: 0px;
}

.margin-right-0 {
    margin-right: 0px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.text-center {
    text-align: center;
}

.min-height {
    min-height: 750px;
}
.width-1250{
    width: 1250px;
}

.float-left {
    float: left;
}

.float-right{
    float:right;
}

.icon_play {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.icon_play:hover {
    background: url(./images/icon_play.png) no-repeat;
    background-position: 50%  35%;
}

.color-GreenSea {
    color: #27AE60;
}

.color-nephritis {
    color: #16A085;
}

.roomName{
    text-overflow:ellipsis;
    overflow:hidden;
    width:200px;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}

.text-size-25 {
    font-size: 25px;
}
#friendly-link {
    background-color: #34495E;
    padding-top: 15px;
}

body {
    font-family: Microsoft YaHei, Helvetica, Arial, sans-serif;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px rgba(173, 173, 173, 0.34);
}

.icon:hover {
    box-shadow: #adadad 4px 4px 5px;
}